# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Database & Storage
database/*.json
database/contacts/*.json
uploads/*
!uploads/.gitkeep

# Environment variables
.env
.env.local

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
